<h1>Posts</h1>
<div id="posts">
<% @posts.each do |post| %>
  <%= render post %>

  <p>
    <%= link_to "Show this post", [:administrate, post] %></p>
</div>
<br>
<% end %>
<%= link_to  "New Post", new_administrate_post_path %>